@import
url(https://fonts.googleapis.com/css?
family=Work+Sans:300,600);
/* * {
    font-family: "Crimson Text", serif;
} */
body{
    background-image: url("/images/rotj.jpg");
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
form{
    max-width: 200px;
    margin: auto;
    background: white;
    padding: 10px;
}
h1{
    color: red;
}
input{
    display: inline-block;
    
    padding: 4px;
}
button {
    margin: 15px auto 0 auto;
    display: block;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.25em;
    background: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover {
    color: black;
    background: white;
}
.question{
    color: #FAEC04;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.answers{
    color: #FAEC04;
    margin-bottom: 20px;
    /* text-align: left; */
    margin: 10px auto;
}
.answers label{
    display: inline-block;
    /* margin-bottom: 10px; */
}
#results{
    text-align: center;
    color: #00BFFF;
}
