* {
    font-family: "Crimson Text", serif;
}
body{
    background-image: url("/images/rotj.jpg");
}
form{
    max-width: 200px;
    margin: auto;
    background: white;
    padding: 10px;
}
input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}
button {
    margin: 15px auto 0 auto;
    display: block;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.25em;
    background: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover {
    color: black;
    background: white;
}
.question{
    color: #FAEC04;
}
.answers{
    color: #FAEC04;
}
#results{
    text-align: center;
    color: #00BFFF;
}